body {
    font-family: 'Lato', sans-serif;
    background-image: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100%;
}

main {
    margin: 2vh 10vw 2vh 10vw;
    background-color: white;
    opacity: 0.9;
    position: relative;
}

nav {
    text-size: 100%;
}

.welcome {
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-weight: bold;
}

.center-info {
    margin: 2vh 10vw 2vh 10vw;
    padding-bottom: 10vh;
}

.profile {
    padding-top: 2vh;
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
}

.sub-profile1 {
    width: 10vw;
}

.sub-profile2 {
    width: 50vw;
}

.prefix {
    width: 12vw;
}

.address {
    width: 100%;
}

.results {
    margin: 2vh 20% 2vh 20%;
}

.thumb {
    float: left;
    padding-right: 4vw;
    padding-bottom: 5vh;
}

.empty-thumb {
    width: 128px;
    height: 220px;
    font-size: 12vw;
    margin-right: 4vw;
    float: left;
}

.bookmark {
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
}

.book-display {
    overflow: auto;
    padding-bottom: 4vh;
    font-size: 1.2em;
}

.dialog {
    position: absolute;
    width: 50vw;
    top: 30vh;
    left: 25vw;
    background-color: white;
    z-index: 2;
}

.dialog-close {
    margin-top: 1vh;
    margin-right: 2vh;
    text-align: right;
}

.dialog-text {
    margin: 4vh 5vw 10vh 5vw;
    font-size: 1.8em;
}
