* {
  box-sizing: border-box;
}

nav a:link {
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100%;
}

main {
    margin: 2vh 10vw 2vh 10vw;
    background-color: white;
    opacity: 0.9;
    position: relative;
}

nav {
    font-size: 100%;
}

.address {
    width: 100%;
}

.book-display {
    margin-bottom: 6vh;
    font-size: 1.2em;
    height: 35vh;
}

.book-info {

}

.bookmark {
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
}

.browse {
    margin: 2vh 5vw 2vh 5vw;
    display: inline-flex;
    flex-wrap: wrap;
}

.browse-book {
    width: 35vw;
    height: 40vh;
    margin: auto;
}

.center-info {
    margin: 2vh 10vw 2vh 10vw;
    padding-bottom: 10vh;
}

.dialog {
    position: absolute;
    width: 50vw;
    top: 20vh;
    left: 25vw;
    background-color: white;
    z-index: 2;
}

.dialog-close {
    margin-top: 1vh;
    margin-right: 2vh;
    text-align: right;
}

.dialog-text {
    margin: 4vh 5vw 10vh 5vw;
    font-size: 1.8em;
}

.empty-thumb {
    font-size: 12vw;
    margin-right: 4vw;
    float: left;
}

.nav-flex {
    display: inline-flex;
    padding-top: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.5em;
    width: 100vw;
}

.nav-left {
    width: 25vw;
}

.nav-link {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
}

.nav-right {
    display: inline-flex;
    justify-content: flex-end;
    width: 75vw;
}

.owner {
    margin-top: 1vh;
}

.prefix {
    width: 12vw;
}

.profile {
    padding-top: 2vh;
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
}

.sub-profile1 {
    width: 12vw;
}

.sub-profile2 {
    width: 50vw;
}

.results {
    margin: 2vh 20% 2vh 20%;
}

.thumb {
    float: left;
    width: 10vw;
    height: 12vw;
    margin-right: 4vw;
    margin-bottom: 10vh;
}

.welcome {
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 4vh;
    font-weight: bold;
}
