div.book-display
    img.thumb(href={{  books.img }}, alt={{ books.title }})
    b {{ books.title }}
    br {{ books.author }}
    br Published: {{ books.date }}
    br
    br {{ books.description }}
