doctype html

html(lang='en', ng-app='book-app', ng-controller='SearchCtrl as search')

    include /app/shared/header.jade
    script(type='text/javascript', src='/app/components/browse/browse-ctrl.js')

    include /app/shared/nav.jade

    body(style='padding-top: 70px')
        div.dialog(dialog-search-results)
        div.dialog(dialog-add-book)
        main(ng-controller='BrowseCtrl as browse')
            h1.welcome Book Trade
                h3.center-info.text-center
                    | Books available for trade
                div.browse
                    span.browse-book(ng-if(browse.allBooks), ng-repeat='b in browse.allBooks')
                        img.thumb(ng-if='b.book.google.isIMG' src='{{ b.book.google.img }}', alt='{{ b.book.google.title }}')
                        span.empty-thumb(ng-if='b.book.google.isBlank')
                            i.fa.fa-bookmark-o.bookmark
                        b {{ b.book.google.title }}
                        br
                        | {{ b.book.google.author }}
                        br
                        | {{ b.book.google.date }}
                        br
                        br
                        | Owned by: {{ b.user }} in {{ b.location }}
                        br
                        br
                        button.btn.btn-default.btn-xs(ng-click='browse.addBook(b.book)') Add this book to my library
                        br
                        button.btn.btn-default.btn-xs(ng-click='browse.requestTrade(b)') Request a trade

