doctype html

html(lang='en', ng-app='book-app', ng-controller='SearchCtrl as search')

    include /app/shared/header.jade
    script(type='text/javascript', src='/app/components/browse/browse-ctrl.js')

    include /app/shared/nav.jade

    body(style='padding-top: 70px')
        div.dialog(dialog-search-results)
        div.dialog(dialog-add-book)
        main(ng-controller='BrowseCtrl as browse')
            h1.welcome Book Trade
                div.center-info.input-group
                    Books available for trade
                div.results
                    div.book-display(ng-if(browse.allBooks), ng-repeat='b in allBooks')
                        img.thumb(ng-if='b.isIMG' src='{{ b.img }}', alt='{{ b.title }}')
                        span.empty-thumb(ng-if='b.isBlank')
                            i.fa.fa-bookmark-o.bookmark
                        b {{ b.title }}
                        br
                        {{ b.author }}
                        br
                        {{ b.date }}
                        br
                        br
                        {{ b.description }}
                        &nbsp;&nbsp;
                        a(href='#' ng-click='browse.addBook(b.id,b.title)') Add this book to my library
                        &nbsp;&nbsp;
                        a(href='#' ng-click='browse.requestTrade(b.id)') Request a trade

