doctype html

html(lang='en')
    include /app/shared/templates/header.pug

    body
        main
            h1.welcome welcome to book trade!
            div.center-info
                div.text-center
                    a.btn.btn-default(role='button', href='/auth/github') Log in with GitHub&nbsp;&nbsp;
                        i.fa.fa-github-alt
