head
    title Book Trader
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato', type='text/css')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(type='text/javascript', src='/book-app.js')

    style
        include style.css
