doctype html

html(lang='en', ng-app='book-app', ng-controller='BookTradeController')
    include ./header.jade

    nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            form.navbar-form.navbar-left(role='search', style='padding-left: 10vw')
                div.form-group
                    input.form-control(type='text', placeholder='Search for a title', ng-model='search')
                button.btn.btn-default(type='submit' ng-click='getBooks()') Submit
            ul.nav.navbar-nav.navbar-right
                li(style='font-size: 1.5em; padding-right: 10vw')
                    a(href='/profile') hello, {{ user.user }}

    body(style='padding-top: 70px')
        div.dialog(ng-if='bookAdded')
            div.dialog-close
                a(href='#' ng-click='closeDialog()') Close
            div.dialog-text
                {{ bookAdded }} has been added to your library!
                br
                br
                i.fa.fa-bookmark
                &nbsp;&nbsp;
                a(href='/profile') View my library
        main
            h1.welcome Book Trade
            div
                div.center-info.input-group
                    input.form-control(type='text', placeholder='Enter book title', ng-model='search')
                    span.input-group-btn(ng-click='getBooks()')
                        button.btn.btn-default(type='button') Submit
                div.results(ng-if='bookResults')
                    div.book-display(ng-repeat='b in books')
                        img.thumb(ng-if='b.isIMG' src='{{ b.img }}', alt='{{ b.title }}')
                        span.empty-thumb(ng-if='b.isBlank')
                            i.fa.fa-bookmark-o.bookmark
                        b {{ b.title }}
                        br
                        {{ b.author }}
                        br
                        {{ b.date }}
                        br
                        br
                        {{ b.description }}
                        &nbsp;&nbsp;
                        a(href='#' ng-click='addBook(b.id,b.title)') Add this book to my library

