doctype html

html(lang='en')
    include ./header.jade

    body
        main
            h1#welcome Welcome to Book Trader
            div(ng-app='ng-books' ng-controller='BooksController as books')
                div#submit-title.input-group
                    input#bookinfo.form-control(type='text', placeholder='Enter book title', ng-model='books.search')
                    span#getbook.input-group-btn(ng-click='books.getBooks()')
                        button.btn.btn-default(type='button') Submit
                div#results
