doctype html

html(lang='en')
    include ./header.jade

    body
        main
            h1#welcome Book Trade
            div(ng-app='ng-books' ng-controller='BooksController')
                div.center-info.input-group
                    input#bookinfo.form-control(type='text', placeholder='Enter book title', ng-model='search')
                    span#getbook.input-group-btn(ng-click='getBooks()')
                        button.btn.btn-default(type='button') Submit
                div#results(ng-if='books')
                    div.book-display(ng-repeat='b in books')
                        img.thumb(ng-if='b.isIMG' src='{{ b.img }}', alt='{{ b.title }}')
                        span.empty-thumb(ng-if='b.isBlank')
                            i.fa.fa-bookmark-o.bookmark
                        b {{ b.title }}
                        br
                        {{ b.author }}
                        br
                        {{ b.date }}
                        br
                        br
                        {{ b.description }}
