doctype html

html(lang='en')
    include ./header.jade

    body
        main
            h1.welcome Welcome to Book Trader
            div.center-info
                div.text-center
                    a.btn.btn-default(role='button', href='/auth/github') Log in with GitHub&nbsp;&nbsp;
                        i.fa.fa-github-alt

