doctype html

html(lang='en',ng-app='book-app', ng-controller='BookTradeController')
    include ./header.jade

    nav.navbar.navbar-default.navbar-fixed-top
        div.container.person
            a(href='/profile') hello, {{ user.user }}
            &nbsp;&nbsp;
            i.fa.fa-bookmark
            &nbsp;&nbsp;
            a(href='/') find a book

    body(style='padding-top: 70px')
        main
            h1#welcome Book Trade
            div.center-info
                h3.text-center Your Profile
                div.profile
                    span.sub-profile1
                        b Username:
                        br
                        b Full name:
                        br
                        b Address:
                    span.sub-profile2
                        {{ user.user }}
                        br
                        {{ user.display }}
                        br
                        span(ng-show='!editing') {{ user.address.street }}, {{ user.address.city }}, {{ user.address.state }} {{ user.address.postal }}, {{ user.address.country }}
                        span(ng-show='editing')
                            div.input-group.address
                                span.input-group-addon.prefix Street
                                input.form-control(type='text', ng-model='street')
                            div.input-group.address
                                span.input-group-addon.prefix City
                                input.form-control(type='text', ng-model='city')
                            div.input-group.address
                                span.input-group-addon.prefix State
                                input.form-control(type='text', ng-model='state')
                            div.input-group.address
                                span.input-group-addon.prefix Postal Code
                                input.form-control(type='text', ng-model='postal')
                            div.input-group.address
                                span.input-group-addon.prefix Country
                                input.form-control(type='text', ng-model='country')
                            button.btn.btn-default(type='submit', ng-click='finishEdit()', style='margin-top: 2vh') Submit
                div.profile
                    button.btn.btn-default(type='submit', ng-show='!editing', ng-click='startEdit()') Edit


