doctype html

html(lang='en',ng-app='book-app', ng-controller='BookTradeController')
    include ./header.jade

    nav.navbar.navbar-default.navbar-fixed-top
        div.person
            a(href='/profile') hello, {{ user.user }}
            &nbsp;&nbsp;
            i.fa.fa-bookmark
            &nbsp;&nbsp;
            a(href='/') find a book

    body(style='padding-top: 70px')
        main
            h1.welcome Book Trade
            div.center-info
                h3.text-center My Library
                div.profile
                    span.sub-profile1
                        b Username:
                        br
                        b Full name:
                        br
                        b Address:
                    span.sub-profile2
                        {{ user.user }}
                        br
                        {{ user.display }}
                        br
                        span(ng-show='!editing') {{ user.address.street }}, {{ user.address.city }}, {{ user.address.state }} {{ user.address.postal }}, {{ user.address.country }}
                        span(ng-show='editing')
                            div.input-group.address
                                span.input-group-addon.prefix Street
                                input.form-control(type='text', ng-model='street' required)
                            div.input-group.address
                                span.input-group-addon.prefix City
                                input.form-control(type='text', ng-model='city' required)
                            div.input-group.address
                                span.input-group-addon.prefix State
                                input.form-control(type='text', ng-model='state' required)
                            div.input-group.address
                                span.input-group-addon.prefix Postal Code
                                input.form-control(type='text', ng-model='postal' required)
                            div.input-group.address
                                span.input-group-addon.prefix Country
                                input.form-control(type='text', ng-model='country' required)
                            button.btn.btn-default(type='submit', ng-click='finishEdit()', style='margin-top: 2vh') Submit
                            button.btn.btn-default(type='submit', ng-click='cancelEdit()', style='margin-top: 2vh') Cancel
                div.profile
                    button.btn.btn-default(type='submit', ng-show='!editing', ng-click='startEdit()') Edit
            div.results(ng-if='books')
                    div.book-display(ng-repeat='b in books')
                        img.thumb(ng-if='b.isIMG' src='{{ b.img }}', alt='{{ b.title }}')
                        span.empty-thumb(ng-if='b.isBlank')
                            i.fa.fa-bookmark-o.bookmark
                        b {{ b.title }}
                        br
                        {{ b.author }}
                        br
                        {{ b.date }}
                        br
                        br
                        {{ b.description }}
                        &nbsp;&nbsp;
                        a(href='#' ng-if='tradeable(false,b.id)' ng-click='tradeable(true,b.id)') Tradeable: click to change
                        a(href='#' ng-if='!tradeable(false,b.id)' ng-click='tradeable(true,b.id)') Click to make available for trade


