body {
    font-family: 'Lato', sans-serif;
    background-image: url('includes/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 100%;
}

main {
    margin: 2vh 10vw 2vh 10vw;
    background-color: white;
    opacity: 0.9;
}

#welcome {
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-weight: bold;
}

#submit-title {
    margin: 2vh 20% 2vh 20%;
    padding-bottom: 10vh;
}

#results {
    margin: 2vh 20% 2vh 20%;
    font-size: 1.2em;
}

.thumb {
    float: left;
    padding-right: 4vw;
    padding-bottom: 2vh;
}

.empty-thumb {
    width: 128px;
    height: 200px;
    font-size: 11vw;
    margin-right: 4vw;
    float: left;
}

.bookmark {
  vertical-align: top;
}

.book-display {
    overflow: auto;
    padding-bottom: 4vh;
}
