<div class='dialog-close'>
  <a href='#' ng-click='profile.trading = null'>Close</a>
</div>

<div class='results'>
  <div class='book-display'>
    <img class='thumb' ng-if='profile.trading.google.isIMG' src='{{ profile.trading.google.img }}' alt='{{ profile.trading.google.title }}'>
    <span class='empty-thumb' ng-if='profile.trading.google.isBlank'>
      <i class='fa fa-bookmark-o bookmark'></i>
    </span>
      <b>{{ profile.trading.google.title }}</b>
      <br>
      {{ profile.trading.google.author }}
      <br>
      {{ profile.trading.google.date }}
  </div>
  <div class="trade-review">
      <b>Requests:</b>
      <div class='owner' ng-repeat='b in profile.trading.borrower'>
        <span>Trade with {{ b }}? </span>
        <button class='btn btn-default' ng-click='profile.decideTrade(profile.trading,b,true)'>
          Yes
        </button>
        <button class='btn btn-default' ng-click='profile.decideTrade(profile.trading,b,false)'>
          No
        </button>
      </div>
  </div>
</div>
