doctype html

html(lang='en',ng-app='book-app', ng-controller='SearchCtrl as search')

    include /app/shared/templates/header.jade
    script(type='text/javascript', src='/app/components/profile/profile-ctrl.js')

    include /app/shared/templates/nav.jade

    body(style='padding-top: 70px')
        div.dialog(dialog-search-results)
        div.dialog(dialog-add-book)
        main(ng-controller='ProfileCtrl as profile')
            h1.welcome {{ profile.user.user }}'s library
            h4.text-center
                a(href='#library') my books
                | &nbsp/&nbsp;
                a(href+'#trades') my trades
            div.center-info
                div.profile
                    span.sub-profile1
                        b Username:
                        br
                        b Full name:
                        br
                        b Address:
                    span.sub-profile2
                        | {{ profile.user.user }}
                        br
                        | {{ profile.user.display }}
                        br
                        span(ng-show='!profile.editing') {{ profile.user.address.street }} {{ profile.user.address.city }} {{ profile.user.address.state }} {{ profile.user.address.postal }} {{ profile.user.address.country }}
                        span(ng-show='profile.editing')
                            div.input-group.address
                                span.input-group-addon.prefix Street
                                input.form-control(type='text', ng-model='profile.street' required)
                            div.input-group.address
                                span.input-group-addon.prefix City
                                input.form-control(type='text', ng-model='profile.city' required)
                            div.input-group.address
                                span.input-group-addon.prefix State
                                input.form-control(type='text', ng-model='profile.state' required)
                            div.input-group.address
                                span.input-group-addon.prefix Postal Code
                                input.form-control(type='text', ng-model='profile.postal' required)
                            div.input-group.address
                                span.input-group-addon.prefix Country
                                input.form-control(type='text', ng-model='profile.country' required)
                            button.btn.btn-default(type='submit', ng-click='profile.finishEdit()', style='margin-top: 2vh') Submit
                            button.btn.btn-default(type='submit', ng-click='profile.cancelEdit()', style='margin-top: 2vh') Cancel
                div.profile
                    button.btn.btn-default(type='submit', ng-show='!profile.editing', ng-click='profile.startEdit()') Edit
            div.results#library
                    div.book-display(ng-repeat='b in profile.library')
                        img.thumb(ng-if='b.google.isIMG' src='{{ b.google.img }}', alt='{{ b.google.title }}')
                        span.empty-thumb(ng-if='b.google.isBlank')
                            i.fa.fa-bookmark-o.bookmark
                        b {{ b.google.title }}
                        br
                        | {{ b.google.author }}
                        br
                        | {{ b.google.date }}
                        br
                        br
                        | {{ b.google.description }}
                        br
                        br
                        button.btn.btn-default.btn-xs(remove-book ng-click='profile.removeBook(b.id)') Remove from library
                        | &nbsp;&nbsp;
                        button.btn.btn-default.btn-xs(ng-show='b.available' ng-click='profile.changeTrade(b.id)') Open to trade
                        button.btn.btn-default.btn-xs(ng-show='!b.available' ng-click='profile.changeTrade(b.id)') Closed to trade


